.featured-container{
    max-width: 1080px;
    min-width: 1080px;
    min-height: 420px;
    max-height: 420px;
    position: relative;
    /* border: 2px solid indianred; */
}
.featured-container > div {
    max-width: 1040px;
    position: absolute;
    /* border: 2px solid palegreen; */
    transition: all 0.3s ease-in-out    ;
}
.featured-elem > img{
    width:100%;
    height:100% !important;
    position:absolute;
}
.featured-container div:hover:not(:nth-child(3)) {
    transform: scale(1.02);
    transition: scale 1s cubic-bezier(0.79, 0.14, 0, 1);
}
.featured-container >:nth-child(1) {
    left:0px;
    top: 40px;
    min-height: 340px;
    min-width: 880px;
    max-width: 880px;
    max-height: 340px;
    z-index: 2;
    background-color: rgb(180, 133, 252);
}
.featured-container >:nth-child(2) {
    left:50px;
    top: 20px;
    min-height: 380px;
    min-width: 880px;
    max-width: 880px;
    max-height: 380px;
    z-index: 5;
    background-color: rgb(142, 66, 255);
}
.featured-container >:nth-child(3) {
    left:100px;
    top: 0px;
    min-height: 420px;
    min-width: 880px;
    max-width: 880px;
    max-height: 420px;
    z-index: 10;
    background-color: rgb(113, 18, 255);
}
.featured-container >:nth-child(4) {
    left:150px;
    top: 20px;
    min-height: 380px;
    min-width: 880px;
    max-width: 880px;
    max-height: 380px;
    z-index: 5;
    background-color: rgb(142, 66, 255);
}
.featured-container >:nth-child(5) {
    left:200px;
    top: 40px;
    min-height: 340px;
    min-width: 880px;
    max-width: 880px;
    max-height: 340px;
    z-index: 2;
    background-color: rgb(180, 133, 252);
}