input {
    pointer-events: none;
 }
.search-container{
    width: 1400px;
    margin: 0 auto;
    background-attachment: rgb(5, 5, 5);;
    color: rgb(222, 222, 227);
    /* background: white; */
}
.padding{
    padding: 1rem;
    padding-left: 2rem;
}
.streams-list-div, .videos-list-div{
    display: grid;
    width: 60%;
    grid-gap: 1.5rem;
    /* grid-auto-rows: 160px; */
    grid-template-columns: 1fr;
}
.streams-list-elem{
    position: relative;
    /* background: tomato; */
}
.streams-elem-grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* min-height: 160px; */
    grid-gap: 1rem;
}
.streamer-img-div{
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(ellipse at top, rgba(113, 18, 255,0.4), transparent),            radial-gradient(ellipse at bottom, rgba(113, 18, 255,0.9), transparent);
    transition: all 0.5s;
}
.online-img{
    width: 100%;
    height: auto;
    object-fit: cover;
    font-size: 0;
    background: transparent;
}
.offline-img{
    width: 50%;
    height: auto;
    border-radius: 50%;
    
    /* object-fit: cover; */
    font-size: 0;
    background: rgb(15,15,15);
}

.streamer-details-div h3{
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 0.8px;
}
.streamer-details-div a{
    text-decoration: none;
    color: rgb(222, 222, 227);

}
.streamer-details-div h4, h5{
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
}

.search-container h2{
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 1.15rem;
    margin: 0.5rem 0;
}
/* .streams-div{
    margin-left: 2rem;
} */
.hr-style{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    margin: 2rem 0;
}

.live-elem{
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    background:red;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 1px;
    padding: 0 0.25rem;
}
.search-fail-div{
    /* visibility: hidden; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    /* place-items: center; */
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}
.loader1 {
    display:inline-block;
    font-size:0px;
    padding:0px;
 }
 .loader1 span {
    vertical-align:middle;
    border-radius:100%;
    
    display:inline-block;
    width:40px;
    height:40px;
    margin:3px 2px;
    -webkit-animation:loader1 0.8s linear infinite alternate;
    animation:loader1 0.8s linear infinite alternate;
 }
 .loader1 span:nth-child(1) {
    -webkit-animation-delay:-1s;
    animation-delay:-1s;
   background:rgba(113, 18, 255,0.4);
 }
 .loader1 span:nth-child(2) {
    -webkit-animation-delay:-0.8s;
    animation-delay:-0.8s;
   background:rgba(113, 18, 255,0.6);
 }
 .loader1 span:nth-child(3) {
    -webkit-animation-delay:-0.26666s;
    animation-delay:-0.26666s;
   background:rgba(113, 18, 255,0.8);
 }
 .loader1 span:nth-child(4) {
    -webkit-animation-delay:-0.8s;
    animation-delay:-0.8s;
   background:rgba(113, 18, 255,1.0);
   
 }
 .loader1 span:nth-child(5) {
    -webkit-animation-delay:-1s;
    animation-delay:-1s;
   background:rgba(113, 18, 255,0.8);
 }
 .loader1 span:nth-child(6) {
    -webkit-animation-delay:-1s;
    animation-delay:-1s;
   background:rgba(113, 18, 255,0.6);
 }
 .loader1 span:nth-child(7) {
    -webkit-animation-delay:-1s;
    animation-delay:-1s;
   background:rgba(113, 18, 255,0.4);
 }
 
 @keyframes loader1 {
    from {transform: scale(0, 0);}
    to {transform: scale(1, 1);}
 }
 @-webkit-keyframes loader1 {
    from {-webkit-transform: scale(0, 0);}
    to {-webkit-transform: scale(1, 1);}
 }