.search-container{
    width: 1400px;
    margin: 0 auto;
    background-attachment: rgb(5, 5, 5);;
    color: rgb(222, 222, 227);
    /* background: white; */
}
.padding{
    padding: 1rem;
    padding-left: 2rem;
}
.streams-list-div{
    display: grid;
    width: 60%;
    grid-gap: 1rem;
    /* grid-auto-rows: 160px; */
    grid-template-columns: 1fr;
}
.streams-list-elem{
    /* background: tomato; */
}
.streams-elem-grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* min-height: 160px; */
    grid-gap: 1rem;
}
.streamer-img-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.online-img{
    width: 100%;
    height: auto;
    object-fit: cover;
    font-size: 0;
}
.offline-img{
    width: 50%;
    height: auto;
    border-radius: 50%;
    
    /* object-fit: cover; */
    font-size: 0;
}
.streamer-details-div h3{
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}
.streamer-details-div h4{
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
}
.streamer-details-div h4{
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
.search-container h2{
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 1.15rem;
}
/* .streams-div{
    margin-left: 2rem;
} */
.hr-style{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    margin: 2rem 0;
}