/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*CSS added by Me*/
body{
    line-height: 1.5;
    font-size: 16px;
    margin: 0 auto;
    background-color: rgb(5, 5, 5);
    font-family: 'Montserrat', sans-serif;
}

.n-container{
    /* max-width: 1400px; */
    min-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1.5fr 0.8fr;
    justify-content: space-between;
    grid-gap: 2rem;
    background-color: rgb(29, 28, 30);
    max-height: 4.5rem;
}
.nav-main{
    width: 3%;
    display: grid;
    grid-template-columns: 48px 120px 128px 108px auto;
    justify-content: space-between;
    align-items: center;
    /* gr   id-gap: 0.2rem; */
    /* height: 2rem; */
    /* padding-bottom: 1rem; */
    
}
.nav-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
}
.nav-elem-div{
    display: flex;
    justify-content: start;
    align-items: center;
}
.nav-links{
    font-size: 1.2rem;
    color: white;
    font-weight: 600;
    cursor: pointer;
    
}
.nav-extra-div{
    padding: 0.4rem 0.6rem;
    align-self: center;
    text-align: center;
    cursor: pointer;
}
.nav-extra{
    font-weight: 700;
}
.logo-img{
    width: 50%;
    height: 100%;
    display: inline-block;
    /* padding-bottom: 1rem; */
}


/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}
  
  /* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}
  
  /* Position tooltip above the element */
[data-tooltip]:before {
    position: absolute;
    top: 120%;
    left: 50%;
    margin-bottom: 0.3rem;
    margin-left: -1.5rem;
    padding: 7px;
    width: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}
  
  /* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
    position: absolute;
    top: 107%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    transform: rotate(180deg);
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}
  
  /* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    font-size: 12px;
    font-weight: 600;
}

/* //DRopdown */




.nav-search{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
}
.search-div{
    width: 100%;
}
.input-search{
    
    /* max-width: 34rem !important; */
    margin: 0;
    padding: .6em .7em;
    font-size: 0.75rem;
    border-radius: 3px;
    border: none;
    max-width: 40rem !important;
    min-width: 32rem !important;
    display: block;
}
.search-help-arrow{
    display: none;
    position: absolute;
    margin-left: 4rem;
    right: auto;
    bottom: auto;
    transform: translate3d(0, 0.05rem, 0);
    max-width: 1rem !important;
    min-width: 1rem !important;
    max-height: 0.6rem !important;
    min-height: 0.6rem !important;
    z-index: 101;
    /* border-radius: 3px; */
    
    /* width: 100%; */
     box-sizing: border-box;
     transform: rotate(180deg);
    /* -webkit-box-shadow: 0px 1px 3px 0px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 1px 3px 0px rgba(255,255,255,0.75);
    box-shadow: 0px 1px 3px 0px rgba(255,255,255,0.75);
    -webkit-box-shadow: 0px 2px 6px 0px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 2px 6px 0px rgba(255,255,255,0.75);
    box-shadow: 0px 2px 6px 0px rgba(255,255,255,0.75); 
    */
    border-top: 0.6rem solid rgb(113, 18, 255);
    border-right: 0.6rem solid transparent;
    border-left: 0.6rem solid transparent;
    
    content: " ";
}
.search-help-container{
    display: none;
    position: absolute;
    margin: 0px;
    right: auto;
    bottom: auto;
    transform: translate3d(0, 0.5rem, 0);
    max-width: 40rem !important;
    min-width: 36rem !important;
    
    z-index: 100;
    border-radius: 5px;
    
    /* width: 100%; */
     box-sizing: border-box;
    /* -webkit-box-shadow: 0px 1px 3px 0px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 1px 3px 0px rgba(255,255,255,0.75);
    box-shadow: 0px 1px 3px 0px rgba(255,255,255,0.75);
    -webkit-box-shadow: 0px 2px 6px 0px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 2px 6px 0px rgba(255,255,255,0.75);
    box-shadow: 0px 2px 6px 0px rgba(255,255,255,0.75); 
    */
    border: 2px solid rgb(113, 18, 255); 
}
.search-pop-help{
    
}
.help-hint-div{
    color: white;
    background: rgb(7, 6, 6);
}
.hint-help-container{
    padding: 0.5rem;
}
.special-help-text{
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    color: white;
    /* color: rgb(71, 67, 67); */
    /* margin-right: 1rem; */
}
.hint-help-text{
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.8px;
    color: rgb(150, 146, 146);
    /* margin-right: 1rem; */
}
.helper-grid{
    width: 100%;
    /* padding: 0.5rem; */
    display: grid;
    justify-content: stretch;
    grid-template-columns: 1fr 1fr;
    /* border-radius: 5px; */
    font-size: 0.8rem;
    line-height: 1.5;
    background: rgb(7, 6, 6);
    border-bottom: 1px solid  rgba(113, 18, 255, 0.25);
}
.right-help-elem, .left-help-elem{
    margin-bottom: 0.5rem;
}
.left-help-grid{
    /* min-height: 5rem; */
    background: rgb(7, 6, 6);
    /* border-bottom-left-radius: 5px; */
    /* border-top-left-radius: 5px; */
    color: white;
    padding: 0.5rem;
}
.right-help-grid{
    /* min-height: 5rem; */
    background: rgb(7, 6, 6);
    /* border-bottom-right-radius: 5px; */
    /* border-top-right-radius: 5px; */
    color: white;
    padding: 0.5rem;
}
.first-help-text {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    margin-right: 0.25rem;
}
.second-help-text {
    font-family: 'Source Code Pro', monospace;
    letter-spacing: 0.8px;
    color: rgb(150, 146, 146);
}

.nav-user{
    display: grid;
    grid-template-columns: 1fr 1fr 2.5fr 1fr;
    justify-content: space-around;
    align-items: center;
    grid-gap: 2rem;
    /* background-color: teal; */
    max-height: 4.5rem;
}
.gem-bit-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 4px;
}
.gem-bits-fa{
    margin-right: 0.25rem;
}
.get-bits-div p{
    font-size: 0.9rem;
    font-weight: 500;
    padding-right: 0.2rem;
}
.usr-img-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.usr-img{
    width: 75%;
    height: auto;
}
.far{
    padding: 0.6rem 0.4rem;
    color: white;
    font-weight: 600;
    font-size: 1rem;
}

.notif-div, .whisper-div {
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notif-div:hover, .whisper-div:hover, .gem-bit-flex:hover{
    background-color: #3A3A3C;
}
.h-container{
    max-width: 1400px;
    min-width: 1400px;
    margin: 0 auto;
    padding-left: 2rem;
}
.header{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    justify-content: start;
    color: white;
    margin-top: 0.5rem;
    box-shadow: 0 1px 2px rgba(0,0,0,.15),0 0 2px rgba(0,0,0,.1)!important;
    /* margin: 1.4rem; */

}
.header h2{
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    /* margin-left: 2rem; */
    display: inline;
    
}

.nav-extra-div{
    border-radius: 4px;
    color: white;
}
.nav-extra-div:hover{
    background-color: #3A3A3C;
}
.section-header:hover{
    color: rgb(113, 18, 255);
}
.support-header{
    min-height: 0.25rem;
    max-height: 0.25rem;
    background:white;
    visibility: hidden;
}
.section-tab{
    cursor: pointer;
}


.make-bg-dp{
    background: rgb(113, 18, 255);
    transition: all 0.4s cubic-bezier(0,-0.67,1,1.71);

}
.make-fg-dp{
    color: rgb(113, 18, 255);
    transition: all 0.4s cubic-bezier(0,-0.67,1,1.71);
}
.full-container{
    /* border:1px solid khaki; */
    max-width: 1280px;
    min-width: 1280px;
    max-height: 660px;
    min-height: 660px;
    margin: 0 auto;
    display:grid;
    justify-content: space-between;
    grid-template-columns: 2fr 4fr 2fr;
    align-items: center;
    /* border: 4px ridge #9147FF; */
}
.f-container{
    /* border:1px solid khaki; */
    max-width: 1400px;
    min-width: 1400px;
    max-height: 100vh;
    min-height: 100vh;
    margin: 0 auto;
   
    /* border: 4px ridge #9147FF; */
}
.games-grid{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 16px;
    justify-content: space-between;
    /* padding: 1rem 0; */
}
.result-container{
    display:grid;
    justify-content: space-between;
    grid-template-columns: 1fr 8fr 1fr;
    align-items: center;
    margin: 1rem 0;
    border-bottom: 2px solid aliceblue;
    border-top: 2px solid aliceblue;
    padding: 1rem 0;
}
.game-div{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 32px;
    cursor: pointer;
}
.game-div:hover{
    -webkit-box-shadow: -6px 6px 2px 0px rgba(145,71,255,1);
    -moz-box-shadow: -6px 6px 2px 0px rgba(145,71,255,1);
    box-shadow: -6px 6px 2px 0px rgba(145,71,255,1);

    -webkit-border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    border-top-left-radius: 10px;

    -webkit-border-bottom-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.5s;
}
.game-img{
    width: 100%;
    height: auto;
    /* height: 100%; */
}
.prev-video, .next-video{
    
    background-repeat: none;
    object-fit: cover;
    min-height: 45px;
    min-width: 80px;
    max-width: 80px;
    max-height: 45px;
    /* //border: 1px solid indigo; */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.60;
    margin: 0 auto;
    background-color: rgba(44, 38, 44, 0.081);
}
.prev-video:hover, .next-video:hover{
    opacity: 0.95;
    transition: opacity 0.5s;
}
.prev-thumb, .next-thumb{
    
}
.video-nav {
    /* border-radius: 8px; */
    /* margin: 0.75rem 0; */
    max-height: 45px;
    /* width: 100%; */
    object-fit: cover;
    background-image: linear-gradient(0deg,rgba(4, 3, 3, 0.8),transparent 60%);
    /* border: 1px solid black; */
}

#twitch-embed2{
    background: url("assets/media/giphy.gif") center center no-repeat;

}
.container{
    max-height: 420px;
    min-height: 420px;
    min-width: 880px;
    /* margin: 0 auto; */
    max-width: 1080px;
    border: 1px solid black;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
    box-shadow: inset 2px 2px 18px 10px rgb(41, 23, 23)(194, 148, 148);
}
.video-bg {
    background: #300A66;
    min-height: 420px;
    position: absolute;
    /* top: 0;  */
    /* border-radius: 24px; */
    /* margin: 0.75rem 0; */
    min-width: 880px;
    max-width: 880px;
    max-height: 420px;
    object-fit: contain;
    display: block;
    z-index: 10;
    /* border: 1px solid rgb(199, 37, 177); */
    box-sizing: border-box;
    /* transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
}
.video-bg-left-helper{
    position: absolute;
    min-height: 420px;
    min-width: 880px;
    max-width: 880px;
    max-height: 420px;
    left:50px;
    top: 0px;
    background-color: teal;
    z-index: 5;
}
.video-bg-right-helper{
    position: absolute;
    left:150px;
    top: 0px;
    min-height: 420px;
    min-width: 880px;
    max-width: 880px;
    max-height: 420px;
    background-color: teal;
    z-index: 5;
}
.video-bg-secondleft-helper{
    position: absolute;
    left:0px;
    top: 0px;
    min-height: 420px;
    min-width: 880px;
    max-width: 880px;
    max-height: 420px;
    background-color: tomato;
    z-index: 2;
}
.video-bg-secondright-helper{
    position: absolute;
    left:200px;
    top: 0px;
    min-height: 420px;
    min-width: 880px;
    max-width: 880px;
    max-height: 420px;
    background-color: tomato;
    z-index: 2;
}
.backgroundwrap {
    /* width:100%; */
    /* border: 1px solid rgb(12, 137, 172); */
    /* border-radius: 24px; */
    min-height: 420px;
    min-width: 880px;
    max-width: 880px;
    max-height: 420px;
    position: absolute;
    left: 100px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: url("/assets/media/giphy.gif") center center no-repeat;
    background-repeat: none;
    object-fit: cover;
    /* background: linear-gradient(0deg,rgba(0,0,0,.8),transparent 320px); */
    /* z-index: -1000; */
}

.prev-content, .next-content{
    position: absolute;
    max-height: 45px;
    
    color: rgba(221, 221, 231, 0.95);
    max-width: 80px;
    font-family: "Montserrat", serif;
    font-size: 32px;
    font-weight: 700;
    display: flex;
    justify-self: center;
    align-items: center;
}

.content {
    min-height: 420px;
    color: rgba(208, 204, 230, 0.822);
    padding: 0 16px 0 26px;
    min-width: 880px;
    max-width: 880px;
    font-family: "Montserrat", serif;
}
.prev-content, .next-content{
    cursor: pointer;
}
.pre-content p, .next-content p{
    opacity: 1;
}
.inner-content{
    padding: 8px;
    display: grid;
    min-width: 100%;
    min-height: 100%;
    grid-template-areas: 't t t t t t t t'  
                         't t t t t t t t'  
                         'p . . . . . . n'
                         '. . . . . . . .' 
                         '. . . . . . . .'
                         '. . . . . . . .'
                         'b b b b b b b b'
                         'c c c c c c c c';
    justify-content: space-between;
    
}
.hide{
    display: none;
}

.intro-content{
    grid-area: b;
    display: grid;
    grid-template-areas: 'i o o o o o'
                         'i p p p p p';

}
.next-inside{
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* right: 12px;
    top: 320px; */
    grid-area: n;
    top:50%;
    left:40%;
    font-size: 32px;
    font-weight: 700;
    color: rgba(217, 135, 127, 0.55);
    cursor: pointer;
    z-index: 20;
}

.prev-inside{
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* left: 12px;
    top: 320px; */
    grid-area: p;
    top:50%;
    left:40%;
    font-size: 32px;
    font-weight: 700;  
    color: rgba(217, 135, 127, 0.55);
    cursor: pointer;
    z-index: 20;
}

.next-thumb, .prev-thumb{
    width: 100%;
    border-radius: 12px;
    max-height: 45px;
    background: url("assets/media/giphy.gif") center center no-repeat;
    background-clip: border-box;
    min-width: 80px;
}


.wrapper {
    display: none;
    margin-top: 8px;
    grid-template-columns: repeat(3, 100%);
    overflow: hidden;
    /* width: 300%; */
    scroll-behavior: smooth;
    justify-content: space-between;
    min-height: 220px;
    border-top: 2px solid rgb(240, 248, 255);
    border-bottom: 2px solid aliceblue;
}
.wrapper section {
    width: 100%;
    /* object-fit: contain; */
    position: relative;
    display: grid;
    /* padding: 0 2rem; */
    grid-gap: 0.5rem;
    grid-template-columns: repeat(6, auto);
    margin: 8px 0;
    transition: all 0.325s;
}
.wrapper section .item {
    padding: 0 2px;
    transition: 250ms all;
}

.wrapper section a {
    position: absolute;
    color: rgb(240, 248, 255);
    text-decoration: none;
    font-size: 3rem;
    background: black;
    /* width: 80px; */
    padding: 20px;
    text-align: center;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper section a:nth-of-type(1) {
    top: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}
.wrapper section a:nth-of-type(2) {
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}
.circle{
    border-radius: 50%;
    /* width: ; */
    border: 4px solid rgba(224, 224, 224, 0.5);
    display: flex;
    background-color: rgba(0,0,0,.5);
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
}
.circle p{
    align-self: center;
    text-align: center;
    width: 5rem;
    height: 5rem;
}
.circle:hover{
    border: 4px solid rgb(240, 248, 255);
    background-color: rgba(0,0,0,0.75);
    transition: all 0.2s;
}
@media only screen and (max-width: 600px) {
    a.arrow__btn {
        display: none;
    }
}